{% extends 'base.html' %}


{% block content %}
    <div class="text">
        <h1>Entre em contato</h1>
        <p>
            Ficamos ansiosos para ouvir de você! Entre em contato conosco para mais informações sobre treinos, inscrições ou quaisquer outras dúvidas que possa ter. Estamos aqui para ajudar você a fazer parte da nossa incrível jornada no mundo do vôlei!
        </p>
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Seu E-mail</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@exemplo.com">
      </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Assunto</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Texto:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>

{% endblock %}