{% extends 'base.html' %}


{% block content %}
    <div class="text">
        <h1>Entre em contato</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium iusto, quibusdam dicta ullam repellat libero.</p>
    </div>

    <form>
        <label for="email">Seu E-mail:</label><br>
        <input type="email" name="email" id="email"><br>
        <label for="assunto">Assunto:</label><br>
        <input type="text" name="assunto" id="assunto"><br>
        <label for="desc">Descrição:</label>
        <textarea name="desc" id="desc" cols="30" rows="10"></textarea>
    </form>

{% endblock %}