{% extends 'base.html'%}


{% block content %}
    <div class="img">
        <img src="../static/assets/voleiball.jpg" alt="capa">
    </div>

    <div class="text">
        <h1>Sobre a universidade </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet error dolor incidunt temporibus unde repellendus possimus omnis cupiditate nihil fugiat nisi facilis ab repudiandae, accusamus officiis explicabo, voluptas aliquid iure. Natus aperiam eius excepturi et est voluptate provident veniam illum accusantium sequi, itaque iste dolore sunt sint ad at esse cumque labore quod doloribus consequatur aliquid adipisci? Fuga optio dicta aliquid, cupiditate recusandae inventore veniam animi vitae enim temporibus similique praesentium voluptates magni expedita minima alias quo porro debitis. Reiciendis, placeat quae fugiat unde dolores eum vel magnam hic nihil earum rerum cum maxime. Culpa suscipit ullam architecto optio laboriosam.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet error dolor incidunt temporibus unde repellendus possimus omnis cupiditate nihil fugiat nisi facilis ab repudiandae, accusamus officiis explicabo, voluptas aliquid iure. Natus aperiam eius excepturi et est voluptate provident veniam illum accusantium sequi, itaque iste dolore sunt sint ad at esse cumque labore quod doloribus consequatur aliquid adipisci? Fuga optio dicta aliquid, cupiditate recusandae inventore veniam animi vitae enim temporibus similique praesentium voluptates magni expedita minima alias quo porro debitis. Reiciendis, placeat quae fugiat unde dolores eum vel magnam hic nihil earum rerum cum maxime. Culpa suscipit ullam architecto optio laboriosam.
        </p>
        
    </div>
    {% endblock %}


