{% extends 'base.html' %}

{% block content %}

<div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../static/assets/volei-treino.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../static/assets/volei-praia.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../static/assets/volei-campeonato.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


    <div class="text">
        <h1>A Excelência em Ação</h1>
        <p>
            No MostGeneric Volleiball Sportclub, a excelência é o nosso padrão. Nossos treinos são meticulosamente planejados e executados para extrair o melhor de cada jogador, independentemente da posição em que atue. Aqui está um vislumbre de como funcionam nossos treinamentos:
        </p>
        <h1>Treinos de Time:</h1>
        <ol class="contacts">
            <li>
                <h3>
                    Treinos Táticos e Estratégicos:
                </h3>
                <p>
                    Começamos cada sessão com uma análise detalhada das táticas e estratégias a serem implementadas em diferentes situações de jogo. Focamos em movimentações no campo, comunicação eficaz e leitura rápida das jogadas adversárias.
                </p>
            </li>
            <li>
                <h3>
                    Treinos de Fundamentos:
                </h3>
                <p>
                    Dedicamos tempo significativo ao aprimoramento dos fundamentos do vôlei, como saques, recepções, levantamentos, ataques e bloqueios. Essa base sólida é crucial para o desempenho excepcional em qualquer posição.
                </p>
            </li>
            <li>
                <h3>
                    Simulações de Jogo:
                </h3>
                <p>
                    Para criar um ambiente de jogo realista, frequentemente realizamos simulações de partidas. Isso ajuda os jogadores a aplicar as técnicas aprendidas sob pressão e aprimora a tomada de decisões em momentos cruciais.
                </p>
            </li>
            <li>
                <h3>
                    Treinos de Condicionamento Físico:
                </h3>
                <p>
                    A preparação física é uma prioridade para nós. Integramos exercícios de resistência, agilidade e força, garantindo que nossos atletas estejam sempre no auge de sua forma física.
                </p>
            </li>    
        </ol>

        <h1>Treinos por Posição:</h1>
        <ul>
            <li>
                <p>
                    Levantadores: Concentramos em aprimorar o tempo de resposta, a precisão nos levantamentos e a habilidade de distribuir as jogadas de forma variada.
                </p>
            </li>
            <li>
                <p>
                    Opostos e Pontas: Trabalhamos na eficácia dos ataques, no posicionamento na rede e na capacidade de variar os tipos de ataques para confundir a defesa adversária.
                </p>
            </li>
            <li>
                <p>
                    Centrais: Desenvolvemos habilidades de bloqueio, leitura do jogo e rapidez na transição da defesa para o ataque.
                </p>
            </li>
            <li>
                <p>
                    Líberos: Priorizamos as técnicas de recepção e defesa, bem como a capacidade de rápida tomada de decisões em situações de defesa.
                </p>
            </li>
            <li>
                <p>
                    Defensores de Fundo: Aprimoramos os saques e recepções, garantindo que os jogadores tenham a capacidade de manter a posse de bola e criar oportunidades de ataque.
                </p>
            </li>
        </ul>

        
        <h1>Avaliação e Feedback Constantes:</h1>
        <p>
            A cada treino, nossos treinadores dedicam tempo para fornecer feedback individualizado. Isso inclui pontos fortes a serem mantidos e áreas de melhoria a serem trabalhadas. Encorajamos a comunicação aberta entre jogadores e treinadores para garantir um crescimento contínuo.
        </p>
        <p>
            No MostGeneric Volleiball Sportclub, nossos treinos são mais do que apenas prática; são uma jornada de aprimoramento constante, onde cada jogador tem a oportunidade de alcançar seu máximo potencial e brilhar no mundo do vôlei.
        </p>
    </div>
{% endblock %}